@model FashionPlatform.WebUI.Models.ProductsListViewModel

<!-- Представление для визуализаций списка всех товаров -->
@{
    ViewBag.Title = "Сlothes";
}
<div class="row panel">
    <div id="categories" class="col-xs-3">
        @Html.Action("Menu", "Nav")
    </div>
    <div class="col-xs-9">
        @foreach (var p in Model.Products)
        {
            @Html.Partial("ProductSummary", p)
        }
    </div>
</div>
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, (x) => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>