
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
<nav class="nav navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"> Fashion Platform</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Главаная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Обратная связь</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
